@use '../../../assets/variables' as *;
@use 'sass:color';

// =========================
//          FONTS
// =========================

h1, .title-number {
  font-family: $barlow-condensed;
  font-size: $font-size-desktop-5;
  letter-spacing: 4px;
  font-weight: 300;
}

.title-number {
  color: rgba($white, 0.25);
  font-weight: bold;
  letter-spacing: 4.72px;
}

a {
  color: $blue-300;
  font-size: $font-size-desktop-8;
  font-family: $barlow-condensed;
  letter-spacing: 2px;
}

.selected {
  color: $white;
}

h2 {
  font-family: $bellefair;
  font-size: $font-size-desktop-2;
}

p {
  font-family: $barlow;
  font-size: $font-size-desktop-9;
  color: $blue-300;
  line-height: 180%;
  font-weight: 300;
  letter-spacing: 0;
}

hr {
  width: 100%;
  color: rgba($white, 0.25);
}

h3 {
  font-family: $barlow-condensed;
  font-size: $font-size-desktop-7;
  font-weight: 200;
  letter-spacing: 2px;
  color: $blue-300;
}

.stats {
  font-family: $bellefair;
  font-size: $font-size-desktop-6;
}

// =========================
//        CONTAINERS
// =========================

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $spacing-600 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-300;
  width: 100%;
  max-width: 1110px;
  height: 77vh;
}

.page-title {
  display: flex;
  flex-direction: row;
  column-gap: $spacing-300;
}

.content {
  flex-direction: row;
  display: flex;
  column-gap: $spacing-400;
  width: 100%;
  height: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  width: 480px;
}

.explanation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $spacing-500;
  width: 100%;
  min-width: 445px;
}

.explanation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $spacing-500;
  width: 100%;
  max-width: 445px;
}

nav {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  column-gap: $spacing-400;
}

li {
  display: flex;
  height: 32px;
  transition: border-bottom 0.6s linear 0s;
}

li:hover {
  border-bottom: solid 3px rgba($white, 0.5);
}

li.selected {
  border-bottom: solid 3px $white;
}

.statistics-container {
  display: flex;
  flex-direction: row;
  column-gap: $spacing-300;
  width: 100%;
}

.distance-container, .travel-time-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
}
