<div *ngIf="texts && data.dest" class="main-content-container">
  <div class="content-container">
    <div class="page-title">
      <span class="title-number">01</span>
      <h1>{{texts['dest.title'].toUpperCase()}}</h1>
    </div>
    <div class="content">
      <div class="image-container">
        <img [src]="data.dest[selectedDestination].image" [alt]="data.dest[selectedDestination].name + ' image'">
      </div>
      <div class="explanation-container">
        <div class="explanation-content">
          <nav>
            <ul>
              <li *ngFor="let destination of data.dest; let i = index" [class]="selectedDestination === i ? 'selected' : ''">
                <a [class]="selectedDestination === i ? 'selected' : ''" [routerLink]="'/destination/' + i">{{destination.name.toUpperCase()}}</a>
              </li>
            </ul>
          </nav>
          <div class="text-container">
            <h2>{{ data.dest[selectedDestination].name.toUpperCase() }}</h2>
            <p>{{ data.dest[selectedDestination].description }}</p>
          </div>
          <hr />
          <div class="statistics-container">
            <div class="distance-container">
              <h3>{{ texts['dest.dist'].toUpperCase() }}</h3>
              <span class="stats">{{ data.dest[selectedDestination].distance.toUpperCase() }}</span>
            </div>
            <div class="travel-time-container">
              <h3>{{ texts['dest.time'].toUpperCase() }}</h3>
              <span class="stats">{{ data.dest[selectedDestination].travel.toUpperCase() }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
