<div *ngIf="text" class="main-content-container">
  <div class="content-container">
    <div class="content">
      <div class="texts-container">
        <p class="description-text">{{text.home.desc}}</p>
        <h1>{{text.home.title.toUpperCase()}}</h1>
        <h2>{{text.home.sub.toUpperCase()}}</h2>
      </div>
      <div class="button-container">
        <button class="explore-button" [routerLink]="'/destination/0'" pButton>
          <span class="explore-text">
            {{text.home.exp.toUpperCase()}}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
