<div *ngIf="texts" class="page-container" [ngClass]="{
  'page-container': true,
  'home': page === PageEnum.HOME,
  'dest': page === PageEnum.DESTINATION,
  'crew': page === PageEnum.CREW,
  'tech': page === PageEnum.TECHNOLOGY,
  'm': screenWidth <= 1100 && screenWidth >= 735,
  's': screenWidth < 735,
}">
  <app-header [(page)]="page" [navItems]="navItems" [screenWidth]="screenWidth" ></app-header>
  <main>
    <router-outlet [routerOutletData]="{texts: texts, data: data, screenWidth: screenWidth}"></router-outlet>
  </main>
</div>
