.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/images/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container.m.home {
  background-image: url("../assets/images/home/background-home-tablet.jpg");
}

.page-container.s.home {
  background-image: url("../assets/images/home/background-home-mobile.jpg");
}

app-header {
  width: 100%;
}
