<header>
  <div class="logo-line-wrapper">
    <div class="logo-container">
      <div class="image-logo">
        <img ngSrc="assets/images/shared/logo.svg" alt="Website logo" height="48" width="48" priority/>
      </div>
    </div>
    <div class="line-container" *ngIf="screenWidth > 1100">
      <hr />
    </div>
  </div>
  <div *ngIf="screenWidth < 705" class="image-menu" (click)="openMenu()">
    <img ngSrc="assets/images/shared/icon-hamburger.svg" alt="Menu icon" height="21" width="24"/>
  </div>
  <p-drawer *ngIf="screenWidth < 705 && text" [(visible)]="visible" header="Drawer" position="right" #drawerRef>
    <ng-template #headless>
      <div class="menu">
        <div class="close-container">
          <div class="image-close" (click)="closeMenu()">
            <img ngSrc="assets/images/shared/icon-close.svg" alt="Close icon" height="21" width="20">
          </div>
        </div>
        <nav>
          <ul class="nav-list">
            <li *ngFor="let title of text.nav; let i = index" class="nav-list-item" (click)="selectItem(i)"
                [ngClass]="{
             'nav-list-item': true,
             'selected-item': selectedItem === i
            }">
              <a [routerLink]="title.toLowerCase()">
                <span class="item-number">0{{i}}</span>
                <span class="item-title">{{title.toUpperCase()}}</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </ng-template>
  </p-drawer>
  <nav *ngIf="screenWidth >= 705 && text">
    <ul class="nav-list">
      <li *ngFor="let title of text.nav; let i = index" class="nav-list-item" (click)="selectItem(i)"
          [ngClass]="{
           'nav-list-item': true,
           'selected-item': selectedItem === i
          }">
        <a [routerLink]="title.toLowerCase()">
          <span class="item-number">0{{i}}</span>
          <span class="item-title">{{title.toUpperCase()}}</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
