// =========================
// 🎨 COLOR
// =========================
$white: rgb(255, 255, 255);
$blue-300: #D0D6F9;
$blue-900: #0B0D17;

// =========================
// 🎨 SPACING
// =========================

$spacing-25: 2px;
$spacing-50: 4px;
$spacing-100: 8px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;
$spacing-1200: 96px;
$spacing-1600: 128px;

// =========================
// 🎨 FONT SIZE
// =========================

$font-size-desktop-1: 144px;
$font-size-desktop-2: 96px;
$font-size-desktop-3: 56px;
$font-size-desktop-4: 32px;
$font-size-desktop-5: 28px;
$font-size-desktop-6: 28px;
$font-size-desktop-7: 14px;
$font-size-desktop-8: 16px;
$font-size-desktop-9: 20px;

$font-size-tablet-2: 80px;
$font-size-tablet-3: 40px;
$font-size-tablet-4: 24px;
$font-size-tablet-5: 20px;
$font-size-tablet-9: 16px;

$font-size-mobile-1: 80px;
$font-size-mobile-2: 56px;
$font-size-mobile-3: 24px;
$font-size-mobile-4: 18px;
$font-size-mobile-6: 16px;
$font-size-mobile-8: 14px;
$font-size-mobile-9: 15px;
