<div *ngIf="texts && data.crew" class="main-content-container">
  <div class="content-container">
    <div class="page-title">
      <span class="title-number">02</span>
      <h1>{{texts['crew.title'].toUpperCase()}}</h1>
    </div>
    <div class="content">
      <div class="explanation-container">
        <div class="explanation-content">
          <div class="text-container">
            <div class="rank-name">
              <h2>{{data.crew[selectedCrew].name.toUpperCase()}}</h2>
              <h3>{{data.crew[selectedCrew].role.toUpperCase()}}</h3>
            </div>
            <p>{{data.crew[selectedCrew].bio}}</p>
          </div>
          <nav>
            <ul>
              <li *ngFor="let crew of data.crew; let i = index">
                <button pButton [class]="selectedCrew === i ? 'selected' : ''" [routerLink]="'/crew/' + i"></button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="image-container">
        <img [src]="data.crew[selectedCrew].image" alt="Crew image">
      </div>
    </div>
  </div>
</div>
